/*.content-header-floating .actions{display:none;} - pager + "Search" button*/
/*.content-header-floating .pager{display:none;} - pager only */
/* .content-header-floating .massaction{display:none;} - mass action block */
/* .content-header-floating .filter{display:none;}- filter */